aiofiles
aiohttp
aiomysql
alembic
annotated-types
anyio
asgiref
attrs
bcrypt
beautifulsoup4
bidict
blinker
brotli
certifi
charset-normalizer
click
cryptography
fastapi
firebase-admin
gunicorn
httptools
idna
itsdangerous
jinja2
orjson
pandas
passlib[bcrypt]
prometheus-client
prometheus_fastapi_instrumentator
pydantic
pydantic-settings
PyJWT
python-dotenv
python-jose[cryptography]
python-multipart
redis
requests
six
slowapi
SQLAlchemy
uvicorn[standard]
uvloop
pydantic[email]
httpx
mysql-connector-python
